{% load widget_tweaks %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name = "viewport" content = "width = device-width, initial-scale = 0.8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
<div class="row mt50">
        <center>

        <div class="col s6 offset-s3">
            <h2 class="flow-text blue-text lighten-2 logo">S'inscrire</h2>
                <form method="post">
                    <div class="input-field">
                    {% csrf_token %}
                    {% for field in form %}
                        <p>
                            <input id="ID3" type="{{ field.field.widget.input_type }}" name="{{ field.name }}" placeholder="{{ field.label }}">
                            {% for error in field.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </p>
                    {% endfor %}

                    <button class="btn waves-effect blue lighten-1 btn-co" type="submit" name="action">Confirmer</button>
                    <a class="btn waves-effect blue lighten-1 btn-co" href="{% url 'login' %}">Se connecter</a>
                    </div>
                </form>
            </div>
        </center>
    </div>
</div>
</body>
</html>