body {
    padding: 0;
    margin: 0;
    font-family: Open Sans,Arial;
}

.centered-content {
    display: flex;
    height: calc(100vh - 250px);
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.form-container {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.form-container form {
    display: flex;
}
.form-container input[type=text] {
    z-index: 999;
    padding: 20px 20px;
    background: #fff;
    box-shadow: 0 8px 15px rgba(70,70,70,.1);
    font-size: 1.2em;
    border: 1px solid #b1afaf;
    border-radius: 3px 0 0 3px;

}
.form-container input[type=submit] {
    width: 70px;
}

.question {
    height: 150px;
    font-size: 2em;
    display: flex;
    align-items: flex-end;
}

.devinette {
    width: 500px;
    font-size: 1em;
    display: flex;
    align-items: center ;
    flex-direction: column;
}

.fit-picture {
    height: 300px;
}