{% load staticfiles %}
<!DOCTYPE HTML>
<html>
{% block head %}
    <head>
        <meta charset="utf-8">
        <meta name = "viewport" content = "width = device-width, initial-scale = 0.8">
        <title>{% block title %}RH{% endblock %}</title>

        <!-- Compiled and minified CSS -->

        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
{% endblock %}


<body>
    <div>
    {% block content %}
    {% endblock %}
    </div>
</body>
{% block javascript %}
{% endblock %}
</html>