{% load staticfiles %}
<!DOCTYPE HTML>
<html>
{% block head %}
    <head>
        <meta charset="utf-8">
        <meta name = "viewport" content = "width = device-width, initial-scale = 0.8">
        <title>Skills Finder</title>

        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
        <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    </head>
{% endblock %}


<body>
{% block nav %}
    {% if user.is_authenticated %}
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper red darken-2">
                    <a href="{% url 'home' %}" class="brand-logo right">RH</a>
                    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons" style="color:white">menu</i></a>

                    <ul class="left hide-on-med-and-down">
                        <li class="active"><a href="{% url 'home' %}">TSTbase</a></li>
                        <li><a href="{% url 'dashboard' %}">Tableau de bord</a></li>
                        <li><a href="{% url 'logout' %}">Deconnexion</a></li>
                    </ul>

                    <ul id="mobile-demo" class="side-nav red darken-2">
                        <li class="no-padding">
                            <ul class="collapsible collapsible-accordion">
                                <li class="active"><a href="{% url 'home' %}" style="color:white">TSTBase</a></li>
                                <li><a href="{% url 'dashboard' %}" style="color:white">Tableau de bord</a></li>
                                <li><a href="{% url 'logout' %}" style="color:white">Deconnexion</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    {% else %}
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper red darken-2"> <a href="{% url 'home' %}" class="brand-logo right">RH</a> <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons" style="color:white">menu</i></a>
                    <ul class="left hide-on-med-and-down">
                        <li><a href="{% url 'signup' %}" style="color:white">S'inscrire</a></li>
                        <li><a href="{% url 'login' %}" style="color:white">Connexion</a></li>
                    </ul>
                    <ul id="mobile-demo" class="side-nav red darken-2">
                        <li class="no-padding">
                            <ul class="collapsible collapsible-accordion">
                                <li><a href="{% url 'signup' %}" style="color:white">S'inscrire</a></li>
                                <li><a href="{% url 'login' %}" style="color:white">Connexion</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

    {% endif %}

{% endblock %}

<div>
    {% block content %}
    {% endblock %}
</div>
</body>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
{% block javascript %}

{% endblock %}
</html>