{% load staticfiles %}
<!DOCTYPE HTML>
<html>
    <head>
        {% block meta %}<meta charset="utf-8"> {% endblock %}

        {% block head %}

        <meta name = "viewport" content = "width = device-width, initial-scale = 0.8">
        <title>{% block title %}RH{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        {% block style %}
        {% endblock %}

        {% endblock %}
    </head>


<body>
    <div>
        <span id="minutes"></span>:<span id="seconds"></span>
    {% block enigma %}
    {% endblock %}

    {% block form_enigma %}
    <div class="form-container">
        <form method="POST" class="post-form">
            {% csrf_token %}
            <input type="text" name="response" required>
            <input type="number" name="time" id="time" hidden>
            <input type="submit" id="submit" value="Ok">
        </form>
    </div>
    {% endblock %}
    
    </div>
</body>
<script>
    document.getElementById('submit').addEventListener('click', function(){
        document.getElementById('time').value = localStorage.getItem('time_spent') || 0;
    });

    let sec = parseInt(localStorage.getItem('time_spent')) || 0;
    document.getElementById('seconds').innerHTML=pad(++sec%60);
    document.getElementById('minutes').innerHTML=pad(parseInt(sec/60,10));

    document.getElementById('clock').removeAttribute("hidden");
    function pad ( val ) { return val > 9 ? val : "0" + val; }
    setInterval( function(){
        document.getElementById('seconds').innerHTML=pad(++sec%60);
        document.getElementById('minutes').innerHTML=pad(parseInt(sec/60,10));
        localStorage.setItem('time_spent', sec)
    }, 1000);
</script>
{% block javascript %}

{% endblock %}
</html>