{% load staticfiles %}
<!DOCTYPE HTML>
<html>
{% block head %}
    <head>
        <meta charset="utf-8">
        <meta name = "viewport" content = "width = device-width, initial-scale = 0.8">
        <title>{% block title %}RH{% endblock %}</title>

        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
{#        <link rel="stylesheet" href="{% static 'css/custom.css' %}">#}
    </head>
{% endblock %}


<body>
    <div>
    {% block content %}
    {% endblock %}
    </div>
</body>
{% block javascript %}
{% endblock %}
</html>