<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" type="text/css" href="style.css">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans">
    </head>

    <body>
        <div class="centered-content">
            <img class="fit-picture" src="http://www.psycho-tests.fr/QI/Test-3/Q1.gif" alt="test">
        </div>
        <div class="form-container">
            <form action="" method="get" class="form-example">
                <input type="text" id="1" required>
                <input type="submit" value="Ok">
            </form>
        </div>
    </body>

</html>